body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-grid {
    display: flex;
    background-color: black;
    min-width: 964px;
    max-width: 964px;
    min-height: 964px;
    flex-wrap: wrap;
    border: solid;
    border-width: 2px;
}
