.flex-grid {
    width: 100px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
}

.line-container {
    display: flex;
}

.line-container div {
    background-color: red;
    opacity: 0%;
    width: 50px;
    height: 50px;
}