.flex-container {
    background-color: aqua;
    padding: 12px;
    border: 4px solid blue;
    display: flex;
}

.flex-container div {
    background: peachpuff;
    border: 4px solid brown;
    flex: 1;
    margin: 4px;
    height: 100px;
}